.container{
    height:10vh;
    
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
.style{
    width:20%;
    margin: 0.2rem;
    height: 10%;
    margin-left: 2vw;
    overflow: hidden;
}
h1{
    height: 5vh;
    color: black;
    margin-bottom: 70px;
    font-size: 45px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

}
